.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
  }
  
  .logo img{
    height: 75px;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav ul li {
    cursor: pointer;
  }
  
  .search input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  